body, html{
  Color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-image : url("style_images/indexBackgroundIMG.jpg");
  height: 100%; 
  background-repeat: no-repeat;
  background-size: auto;
}


@font-face {
    src: url("DIABLO_L.TTF");
}

.button {
    background-color: black; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
}

