@font-face {
    font-family: diablo_lite;
    src: url("DIABLO_L.TTF");
}
*{
    font-family: sans-serif;
    font-size: 200%;
}
h1, h2, h3, a{
    font-family: diablo_lite;
}

h1{
    font-size : 400%;
}

h2{
    font-size : 325%
}

h3{
    font-size : 250%
}

html{
  background-image : url("style_images/genericBackground.jpg");
  height: 100%; 
  background-repeat: no-repeat;
  background-size: auto;
}

.button {
    font-family: diablo_lite;
    background-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
}
