body{
  Color : black;
   background : url(http://github.com/markovid/D3CommAPI_HowTo/images/indexBackground.jpg);

}
div{
    background-image : url("http://github.com/markovid/D3CommAPI_HowTo/images/indexBackground.jpg");
}
